.title {
  font-family: Roboto;
}

.logo {
  font-family: PT Serif;
  font-size: 24px;
}

.menu__item {
  font-family: Roboto;
  font-size: 14px;
}

.main-content__title {
  font-family: PT Serif;
  font-size: 50px;
}

.main-content__subtitle {
  font-family: Roboto;
  font-size: 18px;
}

.main-content__button {
  font-family: Roboto;
  font-size: 14px;
}
